<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<title>添加</title>
		<!-- <link rel="stylesheet" type="text/css" href="css/reset.css"> -->
	 </head>
	<body>
		<div id="control">
			<p>
				<a href="javascript:;" id="red">注册(post重定向"/")</a>
				<a href="/reg">注册(get重定向"/")</a>
			</p>
			
		</div>
	</body>
	<script type="text/javascript" src="js/jquery-min.js"></script>
	<script type="text/javascript" src="js/common.js" ></script>
</html>
